ul {
  list-style: none;
  margin-left: auto;
}
.Synonyms li {
  padding: 5px 10px;
  border: 1px solid;
  border-color: #0f3d3e;
  color: #0f3d3e;
  border-radius: 16px;
  margin-right: 10px;
  background-color: #f1f1f1;
  font-weight: bold;
  box-shadow: 0px 0px 7px 1px rgba(66, 68, 90, 0.25);
}
